//secciones particulares 
.section__container--caballos{
    @extend .section__container;
    .texto{
        padding: 4rem;
    }
    .imagen{
        padding: 5%;
    }
}

//información
.caballos__info{
    padding: 1.5rem;
    text-align: center;

    i{
        color: var(--accent-2);
        display: block;
        font-size: 3em;
    }
    b{
        display: block;
        text-transform: uppercase;
        color: var(--accent-3);
        padding: 1em 0 0;
    }
    span{
        text-transform: uppercase;
    }
}
//Responsive
.caballos__box--bottom{
    display: none;
}
.caballos__box--top{
    display: block;
}