@media (max-width: 1400px){
    //main index
    .title__intro--top{
        display: block;
        margin-bottom: 3rem;
        text-align: center;
    }
    .title__intro--right{
        display: none;
    }
}
